{#{% extends 'layouts/homelayout.html.twig' %}#}

{% block footerContent %}
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <p>&copy; 2023 EMS. All Rights Reserved.</p>
                <ul class="footer-links">
                   {# <a >{{ pimcore_embed("socialWidgets") }}</a>#}
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}